body{
	padding: 0;
	margin: 0;
	overflow: hidden;
}

::selection {
	background-color: black;
	color: white;
}

input,button,.box {
	border-width: 4px;
	border-style: solid;
}

@keyframes _loading {
	0%  {color: black;}
	50% {color: grey; }
	100%{color: black;}
}

#_loading {
	animation: _loading 2s ease 0s infinite;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background-color: white;
}

#_loading span {
	position: fixed;
	font-size: 100px;
	top:50%;
	left:0px;
	right:0px;
	margin-top:-50px;
	text-align:center;
}

#nav {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 0px;
	margin: 0px;
	z-index: 100;
}

#nav div {
	font-size: 20px;
	padding: 10px;
	background-color: white;
	border-bottom: solid 2px black;
}

#nav ul {
	display: inline;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#nav li {
	text-align: center;
	display: inline-block;
}

#nav a {
	padding: 10px;
	text-decoration: none;
	color: black;
}

#nav a.selected {
	background-color:black;
	color:white;
}

#navReturn {
	border-right: 2px solid black;
}

#navRight {
	float:right;
}

.noscript {
	padding-top: 50px;
}

.content {
	padding-top: 50px;
	display: none;
}

#home_test {
	text-align:center;
}

#home_file {
	font-size:40px;
}

#home_json {
	font-size:40px;
}

#home_submit {
	font-size:40px;
}

#home_result {
	white-space:pre;
}

#filelist {
	display: inline;
	list-style-type: none;
}

#filelist li {
	display: block;
	border-width: 2px;
	border-style: solid;
	padding: 5px;
	margin: 5px;
}

#filelist .filename {
	font-size: 30px;
}

#filelist .filetime {
	font-size: 15px;
}

#filelist_add {
	border-color: grey;
}

/*                                                               */

.stat {
	text-align: center;
}

.stat>*{
	text-align: left;
	vertical-align: middle;
	display: inline-block;
}

.stat_graph {
	width: 300px;
	height: 300px;
}

.stat_list {
	list-style-type: square;
	width: 200px;
}

.stat_list li {
	white-space:pre;
	tab-size: 15;
	-moz-tab-size: 15;
	-o-tab-size: 15;
	position: relative;
}

.stat_list li span {
	display:block;
	height:2px;
}

/*                                                               */

.fliter {
	position:relative;
	text-align:center;
}

.fliter select {
	box-sizing:border-box;
	width:48%;
	margin: 5px 0.5%;
	border-width: 1px;
	font-size: 20px;
}

#disp_search {
	transition: opacity 0.2s;
	position: absolute;
	top: 100px;
	right: 15px;
	width: 200px;
	background-color: white;
	border: 1px solid black;
	opacity: 0.5;
}

#disp_search:hover {
	opacity: 1;
}

#disp_search_input {
	font-size: 15px;
	width: 100%;
	border: none;
}

#disp_search_result {
	margin:0;
	padding:0;
	transition: height 0.2s;
	display:block;
	height: 0px;
	width: 100%;
	overflow-y: auto;
}

#disp_search_result li {
	font-size: 15px;
	width: 100%;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

#disp_content_pointer {
	display: none;
	position: relative;
	height: 15px;
	top: 50px;
	margin-bottom: -15px;
	background-color: lightgrey;
	z-index: -1;
}

.highlight {
	background-color: lightgrey;
}

.sccode {
	border:1px solid black;
	margin: 5px 10px;
	padding:5px;
	font-size: 15px;
	line-height: 17px;
	white-space:pre;
	word-wrap:break-word;
	word-break:break-all;
	font-family:monospace;
	overflow:auto;
}

.click {
	transition: background-color 0.2s, border-color 0.2s;
	border-color: black;
	background-color: white;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.click:hover {
	background-color: lightgrey;
}

.click:focus {
	border-color: grey;
}

.click:active {
	background-color: grey;
}
