#_loading {
	position: fixed;
	font-size: 100px;
	top:50%;
	left:0px;
	right:0px;
	margin-top:-50px;
	text-align:center;
}

#nav {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 10px;
	background-color: white;
	border-bottom: solid 2px black;
}

#nav ul {
	display: inline;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#nav li {
	text-align: center;
	display: inline-block;
}

#nav a {
	padding: 10px;
	text-decoration: none;
	color: black;
}

#nav a.selected {
	background-color:black;
	color:white;
}

#nav-right {
	float:right;
}
